/* By: VINT64
All code copied from Stack Overflow and
other places keeps its respective licenses.
All original code is unlicensed (more info
https://unlicense.org ) */

/* you modify these parameters to customize viewer
but it's better not to add any other, especially
position-related, as they can break things */

div.commentDiv {
	border: 1px solid #000;
	background: #fff;
	padding: 4px;
}

div.commentOverlayDiv {
	border: 1px solid #000;
	background: rgba(255, 255, 255, 0.5);
}

div.selected {
	border: 1px solid #0078d7;
	background: rgba(0, 120, 215, 0.5);
}

div#canvasDiv {
	background: transparent;
	border: 5px solid #000;
}

input.numInput {
	max-width: 50px;
}

div.canvasOverlayDiv {
	cursor: move;
}

div#controlPanel {
	text-align: center; /* can be changed, but why? */
}

div#controlPanel > p {
	margin: 10px 0; /*intervals between lines */
}

div#gallery {
	text-align: center; /* can be changed, but why? */
}

/* you do not touch these parameters */

input#fileInput {
	visibility: hidden;
	position: absolute;
}

div#imageDiv {
	display: inline-block;
	vertical-align: middle;
}

div#allCommentsDiv {
	position: absolute;
}

div.commentDiv {
	position: absolute;
	white-space:pre;
	text-align: left;
}

div.commentOverlayDiv {
	position: absolute;
}

div#canvasDiv {
	display: inline-block;
	position: absolute;
	cursor: crosshair;
}
div#gallery {
	white-space: nowrap;
}